/* actor-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Fraunces 144pt";
  font-style: normal;
  font-weight: semibold;
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: regular;
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces 144pt";
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --Dark-Purple: hsl(273,
      85%,
      13%);
  --Eucaplyptus: hsl(150,
      100%,
      63%);
  --Davys-Grey: hsl(271,
      12%,
      34%);
  --Ghost-White: hsl(276,
      100%,
      99%);
  --White: hsl(0,
      0%,
      100%);
}

body {
  background: green;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
}

header {
  position: relative;
  background: url("../assets/images/bg-pattern-1.svg"), url("../assets/images/image-hero.webp"), url("../assets/images/bg-pattern-2.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left -10rem bottom 70%, center bottom 70%, right -4rem bottom 40%;
  border: solid;
  overflow: hidden;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: var(--Dark-Purple);
  width: 100vh;
  height: 100vh;
  transform-origin: bottom;
  transform: translate(-50%) scale(8);
  border-radius: 50%;
  z-index: -1;
}

.workit__header-top {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 10rem;
}
.workit__nav-link {
  display: inline-block;
  color: var(--White);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  border-bottom: solid 0.25rem var(--Eucaplyptus);
}
@media screen and (max-width: 700px) {
  .workit__nav-link {
    font-size: 1rem;
    letter-spacing: 0.04rem;
  }
}
.workit__main-headline {
  color: var(--White);
  text-align: center;
  font-size: 3.75rem;
  font-weight: semibold;
  line-height: 5rem;
  margin-bottom: 2.3rem;
}
@media screen and (max-width: 700px) {
  .workit__main-headline {
    color: var(--White);
    text-align: center;
    font-size: 3.75rem;
    font-weight: semibold;
    line-height: 5rem;
    margin-bottom: 2.44rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__main-headline {
    margin-bottom: 2.5rem;
    font-size: 3.125rem;
    font-weight: semibold;
    line-height: 3.125rem;
  }
}
.workit__main-headline .underlined {
  display: inline-block;
  line-height: 3.5rem;
  border-bottom: solid 0.25rem var(--Eucaplyptus);
}
.workit__learn-more-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--Eucaplyptus);
  padding: 1rem 2rem;
  margin: auto;
  color: var(--Dark-Purple);
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  margin-bottom: 20.37rem;
}
@media screen and (max-width: 700px) {
  .workit__learn-more-btn {
    margin-bottom: 12.7rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__learn-more-btn {
    margin-bottom: 10.54rem;
  }
}
.workit__benefits-header {
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}
@media screen and (max-width: 700px) {
  .workit__benefits-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: left;
  }
}
@media screen and (max-width: 376px) {
  .workit__benefits-header {
    text-align: center;
  }
}
.workit__benefits-desc {
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  /* 177.778% */
  /* 175% */
}
@media screen and (max-width: 700px) {
  .workit__benefits-desc {
    color: var(--Davys-Grey);
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__benefits-desc {
    text-align: center;
  }
}
.workit__cta-header {
  color: var(--White);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
}
@media screen and (max-width: 700px) {
  .workit__cta-header {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__cta-header {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.workit__cta-header {
  color: var(--White);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
}
@media screen and (max-width: 700px) {
  .workit__cta-header {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__cta-header {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.workit__cta-desc {
  color: var(--White);
  font-size: 1.125rem;
  line-height: 2rem;
}
@media screen and (max-width: 700px) {
  .workit__cta-desc {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
@media screen and (max-width: 376px) {
  .workit__cta-desc {
    text-align: center;
  }
}
.workit__cta-link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--Eucaplyptus);
  padding: 1rem 2rem;
  margin: auto;
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
}
@media screen and (max-width: 700px) {
  .workit__cta-link {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: -0.035rem;
  }
}/*# sourceMappingURL=style.css.map */