/* actor-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Fraunces 144pt";
  font-style: normal;
  font-weight: semibold;
  src: url("../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: regular;
  src: url("../assets/fonts/manrope/static/Manrope-Regular.ttf") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces 144pt";
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --Dark-Purple: hsl(273,
      85%,
      13%);
  --Eucaplyptus: hsl(150,
      100%,
      63%);
  --Davys-Grey: hsl(271,
      12%,
      34%);
  --Ghost-White: hsl(276,
      100%,
      99%);
  --White: hsl(0,
      0%,
      100%);
}

body {
  width: 100%;
  background-color: var(--White);
  font-family: "Manrope";
  font-weight: 400;
  font-size: 18px;
}

header {
  width: 100%;
  position: relative;
  overflow: visible;
}
header::after {
  content: "";
  position: absolute;
  top: -8rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("../assets/images/workit-curve-1.svg") no-repeat;
  background-size: 350rem;
  background-position: bottom center;
}
@media screen and (max-width: 768px) {
  header::after {
    background-size: 200rem;
  }
}
@media screen and (max-width: 400px) {
  header::after {
    background-size: 100rem;
  }
}

.workit__header {
  box-sizing: border-box;
  padding: 3.62rem 2.5rem 4rem;
}
@media screen and (max-width: 768px) {
  .workit__header {
    padding: 2rem 2.5rem 2.5rem;
    padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__header {
    padding: 2rem 1rem 9.5rem;
  }
}
.workit__header::after {
  content: "";
  margin: auto;
  display: block;
  position: absolute;
  bottom: -34rem;
  left: 0;
  right: 0;
  height: 55rem;
  background: url("../assets/images/image-hero.webp") no-repeat;
  background-size: 50rem;
  background-position: center top;
}
@media screen and (max-width: 768px) {
  .workit__header::after {
    bottom: -44rem;
    height: 55rem;
    background-size: 32rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__header::after {
    bottom: -50rem;
    background-size: 20rem;
  }
}
.workit__header-top {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 950px;
}
.workit__nav-link {
  display: inline-block;
  color: var(--White);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  border-bottom: solid 0.25rem var(--Eucaplyptus);
}
@media screen and (max-width: 768px) {
  .workit__nav-link {
    font-size: 1rem;
    letter-spacing: 0.04rem;
  }
}
.workit__nav-link:hover {
  color: var(--Eucaplyptus);
}
.workit__main-headline {
  margin-top: 4rem;
  color: var(--White);
  text-align: center;
  font-size: 3.75rem;
  font-weight: semibold;
  line-height: 5rem;
  margin-bottom: 2.3rem;
}
@media screen and (max-width: 768px) {
  .workit__main-headline {
    margin-top: 3.8rem;
    color: var(--White);
    text-align: center;
    font-size: 3.75rem;
    font-weight: semibold;
    line-height: 5rem;
    margin-bottom: 2.44rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__main-headline {
    margin-top: 4.4rem;
    margin-bottom: 2.5rem;
    font-size: 3.125rem;
    font-weight: semibold;
    line-height: 3.125rem;
  }
}
.workit__main-headline .underlined {
  display: inline-block;
  line-height: 3.5rem;
  border-bottom: solid 0.25rem var(--Eucaplyptus);
}
.workit__learn-more-btn {
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: -moz-max-content;
  width: max-content;
  background: var(--Eucaplyptus);
  padding: 1rem 2rem;
  margin: auto;
  color: var(--Dark-Purple);
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  margin-bottom: 20.37rem;
  transition: 0.2s border, 0.2s background, 0.2s color;
}
@media screen and (max-width: 768px) {
  .workit__learn-more-btn {
    margin-bottom: 12.7rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__learn-more-btn {
    margin-bottom: 0rem;
  }
}
.workit__learn-more-btn:hover {
  color: var(--Eucaplyptus);
  background: transparent;
  border: 2px solid var(--Eucaplyptus);
  box-sizing: border-box;
}
.workit__benefits {
  position: relative;
  padding: 14rem 2rem 12rem;
  display: block;
}
@media screen and (max-width: 768px) {
  .workit__benefits {
    padding: 12rem 6rem 6rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits {
    padding: 9.7rem 1rem 4rem;
  }
}
.workit__benefits::after {
  content: "";
  position: absolute;
  top: -8rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  z-index: -2;
  background: url("../assets/images/workit-curve-2.svg") no-repeat;
  background-size: 350rem;
  background-position: bottom center;
}
@media screen and (max-width: 768px) {
  .workit__benefits::after {
    background-size: 200rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits::after {
    background-size: 100rem;
  }
}
.workit__benefits-list {
  max-width: 950px;
  margin: auto;
  display: flex;
  gap: 1rem;
  counter-reset: list;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .workit__benefits-list {
    flex-direction: column;
    justify-content: stretch;
    gap: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits-list {
    gap: 2.5rem;
  }
}
.workit__benefits-item {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .workit__benefits-item {
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits-item {
    flex-direction: column;
  }
}
.workit__benefits-item:before {
  color: var(--Dark-Purple);
  font-family: "Fraunces 144pt";
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 3.5rem;
  height: 3.5rem;
  border: var(--Davys-Grey) solid 1px;
  border-radius: 50%;
  counter-increment: list;
  content: counter(list);
}
@media screen and (max-width: 768px) {
  .workit__benefits-item:before {
    min-width: 3rem;
    height: 2.875rem;
  }
}
@media screen and (max-width: 768px) {
  .workit__benefits-item:before {
    width: 3rem;
    height: 2.875rem;
  }
}
.workit__benefits-header {
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-top: 3.5rem;
}
@media screen and (max-width: 768px) {
  .workit__benefits-header {
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: left;
    margin-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits-header {
    text-align: center;
    margin-top: 1.5rem;
  }
}
.workit__benefits-desc {
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 1.75rem;
  /* 177.778% */
  /* 175% */
}
@media screen and (max-width: 768px) {
  .workit__benefits-desc {
    color: var(--Davys-Grey);
    text-align: left;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__benefits-desc {
    text-align: center;
  }
}
.workit__cta {
  padding: 2rem 2.5rem 0rem;
}
@media screen and (max-width: 768px) {
  .workit__cta {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta {
    padding: 0.7rem 1rem 0rem;
  }
}
.workit__cta-container {
  background: url("../assets/images/image-founder.webp") no-repeat;
  background-size: 50%;
  background-position: top 6.5rem left;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  max-width: 950px;
}
@media screen and (max-width: 768px) {
  .workit__cta-container {
    background-size: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta-container {
    background-size: 80%;
    background-position: top 6.5rem center;
  }
}
.workit__cta-card {
  text-align: left;
  position: relative;
  padding: 4rem;
  width: 45.625rem;
  background: var(--Dark-Purple);
  background-position: right bottom -6rem;
  overflow: visible;
  margin-top: 20rem;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .workit__cta-card {
    padding: 3rem 3.5rem 3.5rem;
    max-width: 32.125rem;
    margin-top: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta-card {
    width: 100%;
    padding: 2rem;
    text-align: center;
    margin-top: 90%;
  }
}
.workit__cta-card::after {
  content: "";
  left: 0;
  right: 0;
  height: 15rem;
  bottom: -3.5rem;
  position: absolute;
  background: url("../assets/images/bg-pattern-3.svg") no-repeat;
  background-position: right 4rem center;
}
@media screen and (max-width: 768px) {
  .workit__cta-card::after {
    background-position: right 1rem center;
    bottom: -5.5rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta-card::after {
    background-position: right 1rem center;
    bottom: -5.5rem;
    background: none;
  }
}
.workit__cta-header {
  color: var(--White);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
}
@media screen and (max-width: 768px) {
  .workit__cta-header {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta-header {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.workit__cta-desc {
  color: var(--White);
  font-size: 1.125rem;
  line-height: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .workit__cta-desc {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__cta-desc {
    text-align: center;
    margin-top: 1rem;
  }
}
.workit__cta-link {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border: 2px solid transparent;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--Eucaplyptus);
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 2rem;
  color: var(--Dark-Purple);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  transition: 0.2s border, 0.2s background, 0.2s color;
}
@media screen and (max-width: 768px) {
  .workit__cta-link {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: -0.035rem;
    margin-top: 1.5rem;
  }
}
.workit__cta-link:hover {
  color: var(--Eucaplyptus);
  background: transparent;
  border: 2px solid var(--Eucaplyptus);
  box-sizing: border-box;
}
.workit__footer {
  padding: 7.6rem 2.5rem 7rem;
}
@media screen and (max-width: 768px) {
  .workit__footer {
    padding: 5rem 2.5rem 7.7rem;
  }
}
@media screen and (max-width: 400px) {
  .workit__footer {
    padding: 4.7rem 1rem 4.1rem;
  }
}
.workit__footer-logo {
  margin-top: 7.6rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.workit__footer-contacts {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}/*# sourceMappingURL=style.css.map */